WebAplication/Book_Web/Service References/Book_Services/Book_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Book_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3697/Book_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3697/Book_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3697/Book_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Book_Library.BLL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBook_Service_TongTienPhieuVanChuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:TongTienPhieuVanChuyen" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_TongTienPhieuVanChuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:TongTienPhieuVanChuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTonKho_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTonKho" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTonKho_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTonKhoResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeSoLuongBanRa_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeSoLuongBanRa" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeSoLuongBanRa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeSoLuongBanRaResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTheoSoLuong_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTheoSoLuong" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTheoSoLuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTheoSoLuongResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeDoanhThuTungSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeDoanhThuTungSanPham" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeDoanhThuTungSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeDoanhThuTungSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTienVanChuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTienVanChuyen" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTienVanChuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTienVanChuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTongDoanhThu_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTongDoanhThu" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTongDoanhThu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTongDoanhThuResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTongDoanhThuSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTongDoanhThuSanPham" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThongKeTongDoanhThuSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThongKeTongDoanhThuSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_Layfilepath_InputMessage">
    <wsdl:part name="parameters" element="tns:Layfilepath" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_Layfilepath_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayfilepathResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_Matkhaungaunhien_InputMessage">
    <wsdl:part name="parameters" element="tns:Matkhaungaunhien" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_Matkhaungaunhien_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatkhaungaunhienResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_Mahoa_InputMessage">
    <wsdl:part name="parameters" element="tns:Mahoa" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_Mahoa_OutputMessage">
    <wsdl:part name="parameters" element="tns:MahoaResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_Giama_InputMessage">
    <wsdl:part name="parameters" element="tns:Giama" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_Giama_OutputMessage">
    <wsdl:part name="parameters" element="tns:GiamaResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_DangKyND_InputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_DangKyND" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_DangKyND_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_DangKyNDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_DangKyNV_InputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_DangKyNV" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_DangKyNV_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_DangKyNVResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_TBKhuyenMai_InputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_TBKhuyenMai" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_TBKhuyenMai_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_TBKhuyenMaiResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_CapLaiMatKhau_InputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_CapLaiMatKhau" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_CapLaiMatKhau_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_CapLaiMatKhauResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_ThanhToan_InputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_ThanhToan" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMail_ThanhToan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuiMail_ThanhToanResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMai_BaoXoaTK_InputMessage">
    <wsdl:part name="parameters" element="tns:GuiMai_BaoXoaTK" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_GuiMai_BaoXoaTK_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuiMai_BaoXoaTKResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListTheoDM_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListTheoDM" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListTheoDM_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListTheoDMResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayDSMoiNhat_InputMessage">
    <wsdl:part name="parameters" element="tns:LayDSMoiNhat" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayDSMoiNhat_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayDSMoiNhatResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LaySPByID_InputMessage">
    <wsdl:part name="parameters" element="tns:LaySPByID" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LaySPByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:LaySPByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListKeyWord_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListKeyWord" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListKeyWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListKeyWordResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListTimKiemNangCao_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListTimKiemNangCao" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListTimKiemNangCao_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListTimKiemNangCaoResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemGioHang_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemGioHang" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemGioHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemGioHangResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_XoaGioHang_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaGioHang" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_XoaGioHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaGioHangResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatGioHang_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatGioHang" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatGioHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatGioHangResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KiemTraTonKho_InputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraTonKho" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KiemTraTonKho_OutputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraTonKhoResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_phantrangsach_InputMessage">
    <wsdl:part name="parameters" element="tns:phantrangsach" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_phantrangsach_OutputMessage">
    <wsdl:part name="parameters" element="tns:phantrangsachResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListSach_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListSach" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListSach_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListSachResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListSachDD_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListSachDD" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListSachDD_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListSachDDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemSach_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemSach" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemSach_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemSachResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_SuaSach_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaSach" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_SuaSach_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaSachResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_XoaSach_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaSach" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_XoaSach_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaSachResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KichHoat_InputMessage">
    <wsdl:part name="parameters" element="tns:KichHoat" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KichHoat_OutputMessage">
    <wsdl:part name="parameters" element="tns:KichHoatResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatKhuyenMai_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatKhuyenMai" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatKhuyenMai_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatKhuyenMaiResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListTheLoai_InputMessage">
    <wsdl:part name="parameters" element="tns:ListTheLoai" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListTheLoai_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListTheLoaiResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListTheLoaiDD_InputMessage">
    <wsdl:part name="parameters" element="tns:ListTheLoaiDD" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListTheLoaiDD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListTheLoaiDDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteTL_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTL" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteTL_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTLResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertTL_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTL" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertTL_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTLResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditTL_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTL" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditTL_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTLResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KichhoatTL_InputMessage">
    <wsdl:part name="parameters" element="tns:KichhoatTL" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KichhoatTL_OutputMessage">
    <wsdl:part name="parameters" element="tns:KichhoatTLResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListKhuyenMai_InputMessage">
    <wsdl:part name="parameters" element="tns:ListKhuyenMai" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListKhuyenMai_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListKhuyenMaiResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteKM_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKM" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteKM_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKMResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertKM_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKM" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertKM_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKMResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditKM_InputMessage">
    <wsdl:part name="parameters" element="tns:EditKM" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditKM_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditKMResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayKhuyenMai_InputMessage">
    <wsdl:part name="parameters" element="tns:LayKhuyenMai" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayKhuyenMai_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayKhuyenMaiResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayThongTinNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:LayThongTinNhanVien" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayThongTinNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayThongTinNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:ListNhanVien" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListNhanVienVC_InputMessage">
    <wsdl:part name="parameters" element="tns:ListNhanVienVC" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListNhanVienVC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListNhanVienVCResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteNV_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNV" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteNV_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNVResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertNV_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNV" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertNV_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNVResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditNV_InputMessage">
    <wsdl:part name="parameters" element="tns:EditNV" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditNV_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditNVResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KTraDNNV_InputMessage">
    <wsdl:part name="parameters" element="tns:KTraDNNV" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KTraDNNV_OutputMessage">
    <wsdl:part name="parameters" element="tns:KTraDNNVResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:ListQuyen" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteQ_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQ" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertQ_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertQ" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertQResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditQ_InputMessage">
    <wsdl:part name="parameters" element="tns:EditQ" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditQResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_SoPDHHoanTat_InputMessage">
    <wsdl:part name="parameters" element="tns:SoPDHHoanTat" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_SoPDHHoanTat_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoPDHHoanTatResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_SoPDHHuy_InputMessage">
    <wsdl:part name="parameters" element="tns:SoPDHHuy" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_SoPDHHuy_OutputMessage">
    <wsdl:part name="parameters" element="tns:SoPDHHuyResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayThongTinNDEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:LayThongTinNDEmail" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayThongTinNDEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayThongTinNDEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayThongTinND_InputMessage">
    <wsdl:part name="parameters" element="tns:LayThongTinND" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayThongTinND_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayThongTinNDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListNguoiDung_InputMessage">
    <wsdl:part name="parameters" element="tns:ListNguoiDung" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ListNguoiDung_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListNguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteND_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteND" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_DeleteND_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertND_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertND" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_InsertND_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditND_InputMessage">
    <wsdl:part name="parameters" element="tns:EditND" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditND_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditNDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KTraDN_InputMessage">
    <wsdl:part name="parameters" element="tns:KTraDN" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KTraDN_OutputMessage">
    <wsdl:part name="parameters" element="tns:KTraDNResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KTraTonTai_InputMessage">
    <wsdl:part name="parameters" element="tns:KTraTonTai" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KTraTonTai_OutputMessage">
    <wsdl:part name="parameters" element="tns:KTraTonTaiResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditMKND_InputMessage">
    <wsdl:part name="parameters" element="tns:EditMKND" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_EditMKND_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditMKNDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KtraEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:KtraEmail" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KtraEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:KtraEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KtraEmailND_InputMessage">
    <wsdl:part name="parameters" element="tns:KtraEmailND" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KtraEmailND_OutputMessage">
    <wsdl:part name="parameters" element="tns:KtraEmailNDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KtraMatkhau_InputMessage">
    <wsdl:part name="parameters" element="tns:KtraMatkhau" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KtraMatkhau_OutputMessage">
    <wsdl:part name="parameters" element="tns:KtraMatkhauResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHCD_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHCD" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHCD_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHCDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHDD_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHDD" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHDD_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHDDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHDH_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHDH" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHDH_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHDHResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHTT_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHTT" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHTTResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHND_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHND" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHND_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHNDResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayPDH_InputMessage">
    <wsdl:part name="parameters" element="tns:LayPDH" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayPDH_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayPDHResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHNDHT_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHNDHT" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHNDHT_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHNDHTResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHNDDH_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHNDDH" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPDHNDDH_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListPDHNDDHResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemPDH_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemPDH" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemPDH_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemPDHResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemPDHTT_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemPDHTT" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemPDHTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemPDHTTResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatTinhTrangPDH_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatTinhTrangPDH" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatTinhTrangPDH_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatTinhTrangPDHResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_TinhTongTienPhieuDatHang_InputMessage">
    <wsdl:part name="parameters" element="tns:TinhTongTienPhieuDatHang" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_TinhTongTienPhieuDatHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:TinhTongTienPhieuDatHangResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPN_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListPN" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPN_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListPNResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemPN_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemPN" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemPN_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemPNResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KtraTonTaiSP_InputMessage">
    <wsdl:part name="parameters" element="tns:KtraTonTaiSP" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_KtraTonTaiSP_OutputMessage">
    <wsdl:part name="parameters" element="tns:KtraTonTaiSPResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPVC_InputMessage">
    <wsdl:part name="parameters" element="tns:LayListPVC" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_LayListPVC_OutputMessage">
    <wsdl:part name="parameters" element="tns:LayListPVCResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemPVC_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemPVC" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ThemPVC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemPVCResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatTinhTrangPVCDG_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatTinhTrangPVCDG" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatTinhTrangPVCDG_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatTinhTrangPVCDGResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatTinhTrangPVCKG_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatTinhTrangPVCKG" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatTinhTrangPVCKG_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatTinhTrangPVCKGResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatTinhTrangPVCTC_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatTinhTrangPVCTC" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_CapNhatTinhTrangPVCTC_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatTinhTrangPVCTCResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ChuyenDoiPhieuDatHang_InputMessage">
    <wsdl:part name="parameters" element="tns:ChuyenDoiPhieuDatHang" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ChuyenDoiPhieuDatHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChuyenDoiPhieuDatHangResponse" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ChuyenDoiPhieuVanChuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:ChuyenDoiPhieuVanChuyen" />
  </wsdl:message>
  <wsdl:message name="IBook_Service_ChuyenDoiPhieuVanChuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChuyenDoiPhieuVanChuyenResponse" />
  </wsdl:message>
  <wsdl:portType name="IBook_Service">
    <wsdl:operation name="TongTienPhieuVanChuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/TongTienPhieuVanChuyen" message="tns:IBook_Service_TongTienPhieuVanChuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/TongTienPhieuVanChuyenResponse" message="tns:IBook_Service_TongTienPhieuVanChuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongKeTonKho">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTonKho" message="tns:IBook_Service_ThongKeTonKho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTonKhoResponse" message="tns:IBook_Service_ThongKeTonKho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongKeSoLuongBanRa">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThongKeSoLuongBanRa" message="tns:IBook_Service_ThongKeSoLuongBanRa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThongKeSoLuongBanRaResponse" message="tns:IBook_Service_ThongKeSoLuongBanRa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongKeTheoSoLuong">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTheoSoLuong" message="tns:IBook_Service_ThongKeTheoSoLuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTheoSoLuongResponse" message="tns:IBook_Service_ThongKeTheoSoLuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongKeDoanhThuTungSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThongKeDoanhThuTungSanPham" message="tns:IBook_Service_ThongKeDoanhThuTungSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThongKeDoanhThuTungSanPhamResponse" message="tns:IBook_Service_ThongKeDoanhThuTungSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongKeTienVanChuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTienVanChuyen" message="tns:IBook_Service_ThongKeTienVanChuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTienVanChuyenResponse" message="tns:IBook_Service_ThongKeTienVanChuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongKeTongDoanhThu">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTongDoanhThu" message="tns:IBook_Service_ThongKeTongDoanhThu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTongDoanhThuResponse" message="tns:IBook_Service_ThongKeTongDoanhThu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThongKeTongDoanhThuSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTongDoanhThuSanPham" message="tns:IBook_Service_ThongKeTongDoanhThuSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThongKeTongDoanhThuSanPhamResponse" message="tns:IBook_Service_ThongKeTongDoanhThuSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Layfilepath">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/Layfilepath" message="tns:IBook_Service_Layfilepath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayfilepathResponse" message="tns:IBook_Service_Layfilepath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Matkhaungaunhien">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/Matkhaungaunhien" message="tns:IBook_Service_Matkhaungaunhien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/MatkhaungaunhienResponse" message="tns:IBook_Service_Matkhaungaunhien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mahoa">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/Mahoa" message="tns:IBook_Service_Mahoa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/MahoaResponse" message="tns:IBook_Service_Mahoa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Giama">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/Giama" message="tns:IBook_Service_Giama_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/GiamaResponse" message="tns:IBook_Service_Giama_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuiMail_DangKyND">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_DangKyND" message="tns:IBook_Service_GuiMail_DangKyND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_DangKyNDResponse" message="tns:IBook_Service_GuiMail_DangKyND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuiMail_DangKyNV">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_DangKyNV" message="tns:IBook_Service_GuiMail_DangKyNV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_DangKyNVResponse" message="tns:IBook_Service_GuiMail_DangKyNV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuiMail_TBKhuyenMai">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_TBKhuyenMai" message="tns:IBook_Service_GuiMail_TBKhuyenMai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_TBKhuyenMaiResponse" message="tns:IBook_Service_GuiMail_TBKhuyenMai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuiMail_CapLaiMatKhau">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_CapLaiMatKhau" message="tns:IBook_Service_GuiMail_CapLaiMatKhau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_CapLaiMatKhauResponse" message="tns:IBook_Service_GuiMail_CapLaiMatKhau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuiMail_ThanhToan">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_ThanhToan" message="tns:IBook_Service_GuiMail_ThanhToan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/GuiMail_ThanhToanResponse" message="tns:IBook_Service_GuiMail_ThanhToan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuiMai_BaoXoaTK">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/GuiMai_BaoXoaTK" message="tns:IBook_Service_GuiMai_BaoXoaTK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/GuiMai_BaoXoaTKResponse" message="tns:IBook_Service_GuiMai_BaoXoaTK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListTheoDM">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListTheoDM" message="tns:IBook_Service_LayListTheoDM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListTheoDMResponse" message="tns:IBook_Service_LayListTheoDM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayDSMoiNhat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayDSMoiNhat" message="tns:IBook_Service_LayDSMoiNhat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayDSMoiNhatResponse" message="tns:IBook_Service_LayDSMoiNhat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LaySPByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LaySPByID" message="tns:IBook_Service_LaySPByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LaySPByIDResponse" message="tns:IBook_Service_LaySPByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListKeyWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListKeyWord" message="tns:IBook_Service_LayListKeyWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListKeyWordResponse" message="tns:IBook_Service_LayListKeyWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListTimKiemNangCao">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListTimKiemNangCao" message="tns:IBook_Service_LayListTimKiemNangCao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListTimKiemNangCaoResponse" message="tns:IBook_Service_LayListTimKiemNangCao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemGioHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThemGioHang" message="tns:IBook_Service_ThemGioHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThemGioHangResponse" message="tns:IBook_Service_ThemGioHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaGioHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/XoaGioHang" message="tns:IBook_Service_XoaGioHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/XoaGioHangResponse" message="tns:IBook_Service_XoaGioHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatGioHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/CapNhatGioHang" message="tns:IBook_Service_CapNhatGioHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/CapNhatGioHangResponse" message="tns:IBook_Service_CapNhatGioHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraTonKho">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KiemTraTonKho" message="tns:IBook_Service_KiemTraTonKho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KiemTraTonKhoResponse" message="tns:IBook_Service_KiemTraTonKho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="phantrangsach">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/phantrangsach" message="tns:IBook_Service_phantrangsach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/phantrangsachResponse" message="tns:IBook_Service_phantrangsach_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListSach">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListSach" message="tns:IBook_Service_LayListSach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListSachResponse" message="tns:IBook_Service_LayListSach_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListSachDD">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListSachDD" message="tns:IBook_Service_LayListSachDD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListSachDDResponse" message="tns:IBook_Service_LayListSachDD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemSach">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThemSach" message="tns:IBook_Service_ThemSach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThemSachResponse" message="tns:IBook_Service_ThemSach_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaSach">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/SuaSach" message="tns:IBook_Service_SuaSach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/SuaSachResponse" message="tns:IBook_Service_SuaSach_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaSach">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/XoaSach" message="tns:IBook_Service_XoaSach_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/XoaSachResponse" message="tns:IBook_Service_XoaSach_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KichHoat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KichHoat" message="tns:IBook_Service_KichHoat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KichHoatResponse" message="tns:IBook_Service_KichHoat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatKhuyenMai">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/CapNhatKhuyenMai" message="tns:IBook_Service_CapNhatKhuyenMai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/CapNhatKhuyenMaiResponse" message="tns:IBook_Service_CapNhatKhuyenMai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListTheLoai">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ListTheLoai" message="tns:IBook_Service_ListTheLoai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ListTheLoaiResponse" message="tns:IBook_Service_ListTheLoai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListTheLoaiDD">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ListTheLoaiDD" message="tns:IBook_Service_ListTheLoaiDD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ListTheLoaiDDResponse" message="tns:IBook_Service_ListTheLoaiDD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTL">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/DeleteTL" message="tns:IBook_Service_DeleteTL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/DeleteTLResponse" message="tns:IBook_Service_DeleteTL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTL">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/InsertTL" message="tns:IBook_Service_InsertTL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/InsertTLResponse" message="tns:IBook_Service_InsertTL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTL">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/EditTL" message="tns:IBook_Service_EditTL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/EditTLResponse" message="tns:IBook_Service_EditTL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KichhoatTL">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KichhoatTL" message="tns:IBook_Service_KichhoatTL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KichhoatTLResponse" message="tns:IBook_Service_KichhoatTL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListKhuyenMai">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ListKhuyenMai" message="tns:IBook_Service_ListKhuyenMai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ListKhuyenMaiResponse" message="tns:IBook_Service_ListKhuyenMai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKM">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/DeleteKM" message="tns:IBook_Service_DeleteKM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/DeleteKMResponse" message="tns:IBook_Service_DeleteKM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertKM">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/InsertKM" message="tns:IBook_Service_InsertKM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/InsertKMResponse" message="tns:IBook_Service_InsertKM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditKM">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/EditKM" message="tns:IBook_Service_EditKM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/EditKMResponse" message="tns:IBook_Service_EditKM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayKhuyenMai">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayKhuyenMai" message="tns:IBook_Service_LayKhuyenMai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayKhuyenMaiResponse" message="tns:IBook_Service_LayKhuyenMai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayThongTinNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayThongTinNhanVien" message="tns:IBook_Service_LayThongTinNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayThongTinNhanVienResponse" message="tns:IBook_Service_LayThongTinNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ListNhanVien" message="tns:IBook_Service_ListNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ListNhanVienResponse" message="tns:IBook_Service_ListNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListNhanVienVC">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ListNhanVienVC" message="tns:IBook_Service_ListNhanVienVC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ListNhanVienVCResponse" message="tns:IBook_Service_ListNhanVienVC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNV">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/DeleteNV" message="tns:IBook_Service_DeleteNV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/DeleteNVResponse" message="tns:IBook_Service_DeleteNV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNV">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/InsertNV" message="tns:IBook_Service_InsertNV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/InsertNVResponse" message="tns:IBook_Service_InsertNV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditNV">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/EditNV" message="tns:IBook_Service_EditNV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/EditNVResponse" message="tns:IBook_Service_EditNV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KTraDNNV">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KTraDNNV" message="tns:IBook_Service_KTraDNNV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KTraDNNVResponse" message="tns:IBook_Service_KTraDNNV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ListQuyen" message="tns:IBook_Service_ListQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ListQuyenResponse" message="tns:IBook_Service_ListQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/DeleteQ" message="tns:IBook_Service_DeleteQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/DeleteQResponse" message="tns:IBook_Service_DeleteQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/InsertQ" message="tns:IBook_Service_InsertQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/InsertQResponse" message="tns:IBook_Service_InsertQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditQ">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/EditQ" message="tns:IBook_Service_EditQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/EditQResponse" message="tns:IBook_Service_EditQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoPDHHoanTat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/SoPDHHoanTat" message="tns:IBook_Service_SoPDHHoanTat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/SoPDHHoanTatResponse" message="tns:IBook_Service_SoPDHHoanTat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SoPDHHuy">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/SoPDHHuy" message="tns:IBook_Service_SoPDHHuy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/SoPDHHuyResponse" message="tns:IBook_Service_SoPDHHuy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayThongTinNDEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayThongTinNDEmail" message="tns:IBook_Service_LayThongTinNDEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayThongTinNDEmailResponse" message="tns:IBook_Service_LayThongTinNDEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayThongTinND">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayThongTinND" message="tns:IBook_Service_LayThongTinND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayThongTinNDResponse" message="tns:IBook_Service_LayThongTinND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListNguoiDung">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ListNguoiDung" message="tns:IBook_Service_ListNguoiDung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ListNguoiDungResponse" message="tns:IBook_Service_ListNguoiDung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteND">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/DeleteND" message="tns:IBook_Service_DeleteND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/DeleteNDResponse" message="tns:IBook_Service_DeleteND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertND">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/InsertND" message="tns:IBook_Service_InsertND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/InsertNDResponse" message="tns:IBook_Service_InsertND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditND">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/EditND" message="tns:IBook_Service_EditND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/EditNDResponse" message="tns:IBook_Service_EditND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KTraDN">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KTraDN" message="tns:IBook_Service_KTraDN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KTraDNResponse" message="tns:IBook_Service_KTraDN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KTraTonTai">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KTraTonTai" message="tns:IBook_Service_KTraTonTai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KTraTonTaiResponse" message="tns:IBook_Service_KTraTonTai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditMKND">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/EditMKND" message="tns:IBook_Service_EditMKND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/EditMKNDResponse" message="tns:IBook_Service_EditMKND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KtraEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KtraEmail" message="tns:IBook_Service_KtraEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KtraEmailResponse" message="tns:IBook_Service_KtraEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KtraEmailND">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KtraEmailND" message="tns:IBook_Service_KtraEmailND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KtraEmailNDResponse" message="tns:IBook_Service_KtraEmailND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KtraMatkhau">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KtraMatkhau" message="tns:IBook_Service_KtraMatkhau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KtraMatkhauResponse" message="tns:IBook_Service_KtraMatkhau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListPDHCD">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHCD" message="tns:IBook_Service_LayListPDHCD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHCDResponse" message="tns:IBook_Service_LayListPDHCD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListPDHDD">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHDD" message="tns:IBook_Service_LayListPDHDD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHDDResponse" message="tns:IBook_Service_LayListPDHDD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListPDHDH">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHDH" message="tns:IBook_Service_LayListPDHDH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHDHResponse" message="tns:IBook_Service_LayListPDHDH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListPDHTT">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHTT" message="tns:IBook_Service_LayListPDHTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHTTResponse" message="tns:IBook_Service_LayListPDHTT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListPDHND">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHND" message="tns:IBook_Service_LayListPDHND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHNDResponse" message="tns:IBook_Service_LayListPDHND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayPDH">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayPDH" message="tns:IBook_Service_LayPDH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayPDHResponse" message="tns:IBook_Service_LayPDH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListPDHNDHT">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHNDHT" message="tns:IBook_Service_LayListPDHNDHT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHNDHTResponse" message="tns:IBook_Service_LayListPDHNDHT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListPDHNDDH">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHNDDH" message="tns:IBook_Service_LayListPDHNDDH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListPDHNDDHResponse" message="tns:IBook_Service_LayListPDHNDDH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemPDH">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThemPDH" message="tns:IBook_Service_ThemPDH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThemPDHResponse" message="tns:IBook_Service_ThemPDH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemPDHTT">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThemPDHTT" message="tns:IBook_Service_ThemPDHTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThemPDHTTResponse" message="tns:IBook_Service_ThemPDHTT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatTinhTrangPDH">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/CapNhatTinhTrangPDH" message="tns:IBook_Service_CapNhatTinhTrangPDH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/CapNhatTinhTrangPDHResponse" message="tns:IBook_Service_CapNhatTinhTrangPDH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TinhTongTienPhieuDatHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/TinhTongTienPhieuDatHang" message="tns:IBook_Service_TinhTongTienPhieuDatHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/TinhTongTienPhieuDatHangResponse" message="tns:IBook_Service_TinhTongTienPhieuDatHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListPN">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListPN" message="tns:IBook_Service_LayListPN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListPNResponse" message="tns:IBook_Service_LayListPN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemPN">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThemPN" message="tns:IBook_Service_ThemPN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThemPNResponse" message="tns:IBook_Service_ThemPN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KtraTonTaiSP">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/KtraTonTaiSP" message="tns:IBook_Service_KtraTonTaiSP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/KtraTonTaiSPResponse" message="tns:IBook_Service_KtraTonTaiSP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LayListPVC">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/LayListPVC" message="tns:IBook_Service_LayListPVC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/LayListPVCResponse" message="tns:IBook_Service_LayListPVC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemPVC">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ThemPVC" message="tns:IBook_Service_ThemPVC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ThemPVCResponse" message="tns:IBook_Service_ThemPVC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatTinhTrangPVCDG">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/CapNhatTinhTrangPVCDG" message="tns:IBook_Service_CapNhatTinhTrangPVCDG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/CapNhatTinhTrangPVCDGResponse" message="tns:IBook_Service_CapNhatTinhTrangPVCDG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatTinhTrangPVCKG">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/CapNhatTinhTrangPVCKG" message="tns:IBook_Service_CapNhatTinhTrangPVCKG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/CapNhatTinhTrangPVCKGResponse" message="tns:IBook_Service_CapNhatTinhTrangPVCKG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatTinhTrangPVCTC">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/CapNhatTinhTrangPVCTC" message="tns:IBook_Service_CapNhatTinhTrangPVCTC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/CapNhatTinhTrangPVCTCResponse" message="tns:IBook_Service_CapNhatTinhTrangPVCTC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChuyenDoiPhieuDatHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ChuyenDoiPhieuDatHang" message="tns:IBook_Service_ChuyenDoiPhieuDatHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ChuyenDoiPhieuDatHangResponse" message="tns:IBook_Service_ChuyenDoiPhieuDatHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChuyenDoiPhieuVanChuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IBook_Service/ChuyenDoiPhieuVanChuyen" message="tns:IBook_Service_ChuyenDoiPhieuVanChuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBook_Service/ChuyenDoiPhieuVanChuyenResponse" message="tns:IBook_Service_ChuyenDoiPhieuVanChuyen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBook_Service" type="tns:IBook_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TongTienPhieuVanChuyen">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/TongTienPhieuVanChuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongKeTonKho">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThongKeTonKho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongKeSoLuongBanRa">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThongKeSoLuongBanRa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongKeTheoSoLuong">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThongKeTheoSoLuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongKeDoanhThuTungSanPham">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThongKeDoanhThuTungSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongKeTienVanChuyen">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThongKeTienVanChuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongKeTongDoanhThu">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThongKeTongDoanhThu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThongKeTongDoanhThuSanPham">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThongKeTongDoanhThuSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Layfilepath">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/Layfilepath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Matkhaungaunhien">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/Matkhaungaunhien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mahoa">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/Mahoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Giama">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/Giama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiMail_DangKyND">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/GuiMail_DangKyND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiMail_DangKyNV">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/GuiMail_DangKyNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiMail_TBKhuyenMai">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/GuiMail_TBKhuyenMai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiMail_CapLaiMatKhau">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/GuiMail_CapLaiMatKhau" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiMail_ThanhToan">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/GuiMail_ThanhToan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuiMai_BaoXoaTK">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/GuiMai_BaoXoaTK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListTheoDM">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListTheoDM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDSMoiNhat">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayDSMoiNhat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaySPByID">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LaySPByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListKeyWord">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListKeyWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListTimKiemNangCao">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListTimKiemNangCao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemGioHang">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThemGioHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaGioHang">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/XoaGioHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatGioHang">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/CapNhatGioHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraTonKho">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KiemTraTonKho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="phantrangsach">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/phantrangsach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListSach">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListSach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListSachDD">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListSachDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemSach">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThemSach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaSach">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/SuaSach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaSach">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/XoaSach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KichHoat">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KichHoat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatKhuyenMai">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/CapNhatKhuyenMai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTheLoai">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ListTheLoai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTheLoaiDD">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ListTheLoaiDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTL">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/DeleteTL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTL">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/InsertTL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTL">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/EditTL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KichhoatTL">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KichhoatTL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListKhuyenMai">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ListKhuyenMai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKM">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/DeleteKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKM">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/InsertKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditKM">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/EditKM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayKhuyenMai">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayKhuyenMai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayThongTinNhanVien">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayThongTinNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNhanVien">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ListNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNhanVienVC">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ListNhanVienVC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNV">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/DeleteNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNV">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/InsertNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditNV">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/EditNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTraDNNV">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KTraDNNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListQuyen">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ListQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQ">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/DeleteQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertQ">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/InsertQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditQ">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/EditQ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoPDHHoanTat">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/SoPDHHoanTat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SoPDHHuy">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/SoPDHHuy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayThongTinNDEmail">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayThongTinNDEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayThongTinND">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayThongTinND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListNguoiDung">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ListNguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteND">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/DeleteND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertND">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/InsertND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditND">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/EditND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTraDN">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KTraDN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KTraTonTai">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KTraTonTai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditMKND">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/EditMKND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KtraEmail">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KtraEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KtraEmailND">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KtraEmailND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KtraMatkhau">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KtraMatkhau" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListPDHCD">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListPDHCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListPDHDD">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListPDHDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListPDHDH">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListPDHDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListPDHTT">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListPDHTT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListPDHND">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListPDHND" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayPDH">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayPDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListPDHNDHT">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListPDHNDHT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListPDHNDDH">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListPDHNDDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPDH">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThemPDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPDHTT">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThemPDHTT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatTinhTrangPDH">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/CapNhatTinhTrangPDH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TinhTongTienPhieuDatHang">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/TinhTongTienPhieuDatHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListPN">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListPN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPN">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThemPN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KtraTonTaiSP">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/KtraTonTaiSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayListPVC">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/LayListPVC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemPVC">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ThemPVC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatTinhTrangPVCDG">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/CapNhatTinhTrangPVCDG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatTinhTrangPVCKG">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/CapNhatTinhTrangPVCKG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatTinhTrangPVCTC">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/CapNhatTinhTrangPVCTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChuyenDoiPhieuDatHang">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ChuyenDoiPhieuDatHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChuyenDoiPhieuVanChuyen">
      <soap:operation soapAction="http://tempuri.org/IBook_Service/ChuyenDoiPhieuVanChuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Book_Service">
    <wsdl:port name="BasicHttpBinding_IBook_Service" binding="tns:BasicHttpBinding_IBook_Service">
      <soap:address location="http://localhost:3697/Book_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>